<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="right"></div>
  <% if user_signed_in? %>
    <%= link_to( current_user.user_name, profile_path) %>
    <%= link_to("logout", destroy_user_session_path, method: :delete) %>
  <% else %>
    <%= link_to("login", new_user_session_path) %>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>
